# --- Build klasörleri ---
/build/
*/build/

# --- CMake çıktıları ---
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# --- Derlenmiş dosyalar ---
*.out
*.exe
*.o
*.obj
*.a
*.so
*.dll
*.lib

# --- VSCode ayarları ---
.vscode/

# --- Geçici dosyalar ---
*.log
*.tmp
*.swp
*~

# --- macOS & Windows sistem dosyaları ---
.DS_Store
Thumbs.db
Desktop.ini
